.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
  background-image: url('background.png');
  background-repeat: no-repeat;
  background-position: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

#fuwawa {
  background-image: url('fuwawa_128.png');
  height: 128px;
  width: 128px;
}

.play-fuwawa-bau {
  animation: fuwawa-bau 1.2s;
}

@keyframes fuwawa-bau {
  0% { background-image: url('fuwawa_128.png') }
  35% {background-image: url('fuwawa_bau_128.png'); }
  40% { background-image: url('fuwawa_128.png') }
  100% {background-image: url('fuwawa_bau_128.png'); }
}

#mococo {
  background-image: url('mococo_128.png');
  height: 128px;
  width: 128px;
}

.play-mococo-bau {
  animation: mococo-bau 1.2s;
}

@keyframes mococo-bau {
  0% { background-image: url('mococo_128.png') }
  35% {background-image: url('mococo_bau_128.png'); }
  40% { background-image: url('mococo_128.png') }
  100% {background-image: url('mococo_bau_128.png'); }
}
